<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RDS Utilization</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">

    <div class="container py-4">
    
        <h2 class="text-center mb-4">RDS Utilization</h2>
        <div class="d-flex justify-content-end mb-3">
            <a href="{% url 'export_rds_utilization_excel' %}" class="btn btn-success">Download RDS Utilization Report</a>
        </div>
        <div id="rds-cards" class="row g-3"></div>
        
    </div>
<script>
    function getRdsEmoji(cpu) {
        const cpuValue = parseFloat(cpu);
        if (cpuValue > 80) return `🔴 ${cpuValue}%`;
        if (cpuValue > 50) return `🟡 ${cpuValue}%`;
        return `🟢 ${cpuValue}%`;
    }
    
    function loadRDSUtilization() {
        const container = document.getElementById('rds-cards');
        if (!container) return;
    
        fetch('/rds-utilization/')
            .then(res => res.json())
            .then(data => {
                container.innerHTML = '';
                data.metrics.forEach(db => {
                    container.innerHTML += `
                    <div class="col-md-4">
                            <div class="card shadow-sm h-100">
                                <div class="card-body">
                                    <h5 class="card-title">${db.db_id}</h5>
                                    <p class="card-text mb-1"><strong>ID:</strong> ${getRdsEmoji(db.cpu)}</p>
                                    <p class="card-text mb-1"><strong>CPU:</strong> ${db.memory}</p>
                                </div>
                            </div>
                        </div>`;
                });
            });
    }
    
    // Wait for DOM insertion before running
    setTimeout(() => {
        loadRDSUtilization();
        setInterval(loadRDSUtilization, 5000);
    }, 100);
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>